header {
    margin: 12px 0px;
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    padding: 2px 12px;
}

main {
    margin: 12px 0px; 
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    padding: 2px 12px;
}

footer {
    margin: 12px 0px; 
    border-color: black;
    border-style: dashed;
    border-width: 1px;
    padding: 2px 12px;
}